# This project uses EditorConfig (http://editorconfig.org) to standardize
# tabulation, charset and other attributes of source files. Please head to
# http://editorconfig.org/#download to check if your editor comes with
# EditorConfig bundled or to download a plugin.

root = true

[*]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[{package.json,*.yml}]
indent_style = space
indent_size = 2